* {
    /* border: 1px lightcoral solid; */
}

body {
    background-color: #F0ECE3;
    /* width: 800px; */
}

h6 {
    color: #596E79;
}

p {
    color: #596E79;
}

td {
    color: #596E79;
}
a {
    text-decoration: none;
    color: #596E79;
}

.form-div label {
    color: #596E79;
}

.form-div {
    background-color: #DFD3C3;
    margin-top: 20px;
    width: 500px;
}
