* {
    /* border: 1px lightcoral solid; */
}

body {
    background-color: #F0ECE3;
    /* width: 800px; */
}

h6 {
    color: #596E79;
}

p {
    color: #596E79;
}

td {
    color: #596E79;
}
a {
    text-decoration: none;
    color: #596E79;
}

.btn {
    margin: 10px 10px 0 10px;
    border: 4px #596E79 solid;
    opacity: 60%;
}

.navbar {
    border-bottom: 4px #596E79 solid;
}
.navbar-nav li {
    padding: 0 20px;
}

.app_title {
    font-size: 2rem;
    padding: 0 20px;
}


.form-div label {
    color: #596E79;
}


.data_table, .card {
    border: 4px #596E79 solid;
}


