body {
    background-color: rgb(154, 207, 200);
    width: 800px;
}

.form-div {
    background-color: antiquewhite;
    margin-top: 20px;
    opacity: 80%;
    width: 600px;
}

a {
    text-decoration: none;
    color: black;
}