    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add a Listing</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container container-links">
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/quotes">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>


        {% comment %} POST JOB {% endcomment %}

        <div class="container">
        <h1>Applied to...</h1>
            <div class="col">
                <form action="/create_entry" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="company_name">Company Name: <input type="text" name="company_name"></label>

                        <label for="position">Position: <input type="text" name="position"></label>
                        <label for="status">Status: <input type="text" name="status"></label>
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div> 
        

        <script src="" async defer></script>
    </body>
</html>