    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add a Listing</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="d-flex justify-content-center">
            <div class="container container-links">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="/jobs">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                </ul>
            </div>
        </div>

        {% comment %} POST JOB {% endcomment %}
        <div class="d-flex justify-content-center">
            <div class="row g-4 px-4 form-div">
            <h1 class="display-2">Applied to...</h1>
                <form action="/create_entry" method="POST">
                    {% csrf_token %}
                    <div class="col">
                        <label for="company_name">Company Name: <input type="text" name="company_name" class="form-control" placeholder="Company name"></label>
                    </div>
                    <div class="col">
                        <label for="position">Position: <input type="text" name="position" class="form-control" placeholder="Position"></label>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="status">Status: <input type="text" name="status" class="form-control" placeholder="Status"></label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success">Submit</button>
                    <a class="btn btn-Dark" href="/jobs" role="button">Cancel </a>
                </form>
            </div>
        </div>
    </body>
</html>