<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Job Listings</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <div class="container">
        <h1 class="display-2">Hello, {{user.first_name}} </h1>
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
            {% comment %} VIEW Job Entry WITH EDIT BUTTON IF USER CREATED IT {% endcomment %}
            </div> 
                <a class="btn btn-dark" href="/addlisting" role="button">Add Entry</a>
                <a class="btn btn-secondary" href="/logout" role="button">Logout</a>
            </div>
        </div>
        
        <div class="container">
            <table class="table table-striped">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Compnay Name</th>
                <th scope="col">Position </th>
                <th scope="col">Status</th>
                <th scope="col">Follow Up</th>
                <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
            {% for job in all_jobs reversed%}
                <th scope="row">1</th>
                <td><a href="/jobs/{{job.id}}/edit">{{job.company_name}}</a></td>
                <td>{{job.position}}</td>
                <td>{{job.status}}</td>

                <td><a href="/followUp/{{job.id}}">{{job.users_follow_up.all.count}} Marked for Follow Up</a></td>
        

                <td><a href="/jobs/{{job.id}}/delete">Remove</a></td>
                </tr>
            {%endfor%}
            </tbody>
            </table>
            
        </div>


    </body>
</html>