<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Job Listings</title>
        <link rel="icon" type="image/png" href="/static/img/briefcase-favicon.png"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
    {% include "navBar.html" %}
        <div class="container">
        <h1 class="display-3 text-center">Hello, {{user.first_name}} </h1>
            {% if messages %}
            <ul class="messages">    
                {% for message in messages %}    
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                {% endfor %}
            </ul>
            {% endif %}
            {% comment %} VIEW Job Entry WITH EDIT BUTTON IF USER CREATED IT {% endcomment %}
        </div>
        
        <div class="container" style="width: 800px">
            <table class="table table-hover table-light data_table">
            <thead>
                <tr>
                <th scope="col">Company Name</th>
                <th scope="col">Position </th>
                <th scope="col">Status</th>
                <th scope="col">Follow Up</th>
                <th scope="col">Remove</th>
                </tr>
            </thead>
            <tbody>
            
                <tr>
            {% for job in all_jobs reversed%}
                {% if job.created_by.id == user.id %}
                    <td><a href="/jobs/{{job.id}}/edit">{{job.company_name}}</a></td>
                    <td>{{job.position}}</td>
                    <td>{{job.status}}</td>

                    {% if job.users_follow_up.all %}
                        <td><a href="/followUp/{{job.id}}"> Marked for follow Up</a></td>
                    {% else %}
                        <td><a href="/followUp/{{job.id}}"> Follow Up</a></td>
                    {% endif %}

                    <td class="text-center trash_can"><a href="/jobs/{{job.id}}/delete">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg></a></td>
                    </tr>
                {% endif %}
            {%endfor%}
            </tbody>
            </table>
            
        </div>
    </body>
</html>