    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Listing Details</title>
        <link rel="icon" type="image/png" href="/static/img/briefcase-favicon.png"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        {% include "navBar.html" %}
        <div class="container">
            <h1 class="display-2 text-center">Listing Details</h1>


            <div class="card mx-auto" style="width:600px">
                <div class="card-body">
                    <form action="/jobs/{{job.id}}/update" method="POST">
                    {% csrf_token %}
                        <div class="form-group row">
                            <label for="company_name">Company Name: <input type="text" class="form-control" name="company_name" value="{{ job.company_name }}"></label>
                        </div>
                        <div class="form-group row">
                            <label for="position">Position: <input type="text" class="form-control" name="position" value="{{job.position}}"></label>
                        </div>
                        <div class="form-group row">
                            <label for="status">Status: <input type="text" class="form-control" name="status" value="{{job.status}}"></label>
                        </div>
                        <div class="col text-center">
                            <input type="submit" value="Update" class="btn btn-Dark">
                            <a class="btn btn-Dark" href="/jobs" role="button">Cancel </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>