
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand app_title" href="/jobs">Job Hunt</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarTextTitle" aria-controls="navbarTextTitle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTextTitle">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addlisting">Add an Entry</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/jobs">Job List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>