<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Profile</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
    {% include "navBar.html" %}
    <h1 class="display-2 text-center">Profile</h1>
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 40rem;">
                <div class="card-body">
                    <h3 class="card-title"> Total Entries Added: {{user.jobs.all | length}}</h3>
                    <h4 class="card-subtitle mb-2 text-muted">Marked for Follow Up - </h4>

                    {% for job in user.jobs.all reversed%}
                        {% if job.users_follow_up.all %}
                            <p class="card-text"><a href="/jobs/{{job.id}}/edit">{{job.company_name}} - {{job.status}}</a></p>
                            <hr>
                        {% endif %}
                    {% endfor %}
                    
                    <a class="btn btn-dark" href="/addlisting" role="button">Add an Entry</a>
                    <a class="btn btn-dark" href="/jobs" role="button">Job List</a>
                </div>
            </div>
        </div>
    </body>
</html>


                